{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<title> {% block title %} Registro de usuario {% endblock title %}</title>
<center>
 <div class="col-12 col-md-6 offset-sd-3">
    <form method="POST" style="margin-top: 100px";>
        <h1 class="h1">Iniciar sesión</h1>
        <br>
        <div class="messages">
            {% for message in messages %}
            <table {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container">
            {{ form|crispy }}
            <br>
            <div>
               <p>¿Todavía no está registrado? <a href="{% url 'apps.usuario:registrar' %}?next={{ request.GET.next }}">Registrate.</a></P>
            </div>  
            <div>  
               <p>¿Olvidaste tu contraseña? <a class="" href="{% url 'apps.usuario:password_reset' %}">Recuperar.</a></p>
            </div> 
                <div class="col text-center mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Iniciar sesión</button>
                </div>
                
            </div>
    </form>

    
 </div>
</center>
    
{% endblock contenido %}
