 {% extends 'base.html' %}
 {% load static %}
 {% load crispy_forms_tags %}

 <title> {% block title %} Registro de usuario {% endblock title %}</title>
 
 {% block contenido %}

 <center>
    <div class="col-12 col-md-6 offset-sd-3">
        <form method = "POST" enctype= "multipart/form-data" style="margin-top: 100px; margin-bottom: 100px;">
           <h1 class="h1">Registro de usuario</h1>
           <br>
           <div class="messages">
               {% for message in messages %}
               <table {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
               {% endfor %}
           </div>
           <br>
           {% csrf_token %}
           <div class="container-fluid">
               {{ form|crispy }}
           </div>
           <br><br>
           <button type="submit" class="btn btn-success btn-lg px-3">Registrar</button>
        </form>
    </div>
</center>

{% endblock contenido  %}
