.navegacion-horizontal {
    background-color: rgba(245, 245, 245, 0.455);
   
    box-shadow: 2px 2px 9px rgb(13, 220, 33);
    position: sticky;
    width:  100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    margin-bottom: 2px;
  
  }

  .navegacion-horizontal > li > a{
   color: black;
   text-decoration: none; 
   padding: 10px;
   margin-bottom: 2px;
   font-size: larger;
   font-style: italic;
   text-shadow: 6px 5px 2px rgba(2, 77, 4, 0.295);
   font-weight: bolder;
  }