{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}

<center>
<div class="container mt-5">
    <h1 class="text-center mb-4" style="color: #28a745;">Modificar Post</h1>
    <form method="post" enctype="multipart/form-data" class="mx-auto" style="max-width: 600px;">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Guardar Cambios">
        </div>
    </form>
</div>

</center>
{% endblock %}