
{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block contenido %}

<div class="container-fluid">
  <div class="row">
    <aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2 col-md-1">
      <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Vida Verde</h2>
      <nav class="small" id="toc">
        <ul class="list-unstyled">
         
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse"><strong>Contacto</strong></button>
            <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-dark text-decoration-none   " href="{% url 'apps.contacto:contacto' %} ">Por mensaje</a></li>
                 <li><a class="d-inline-flex align-items-center rounded  text-dark  text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=61555023901991">Facebook</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-dark  text-decoration-none" href="#sizing">Instagram</a></li>
          <li><a class="d-inline-flex align-items-center rounded  text-dark text-decoration-none" href="#input-group">Whatsap</a></li>

            </ul>
          </li>
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse"><strong>Inicio</strong></button>
            <ul class="list-unstyled ps-3 collapse" id="components-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none text-dark  " href="{% url 'index' %}">Inicio</a></li>
           
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="col-md-9">
      <div class="container-fluid" style="margin-top: 20px;">
        <h2>{{ posts.titulo }}</h2>
        <h3>{{ posts.subtitulo }}</h3>
        <p>{{ posts.categoria }}</p>
        
       
        <div class="clearfix">
          {% if posts.imagen %}
              <img src="{{ posts.imagen.url }}" alt="" class="img-fluid rounded float-md-start me-md-3 mb-3" style="max-width: 300px;">
          {% else %}
              <p class="mb-3">No hay imagen disponible</p>
          {% endif %}

          <p>{{ posts.texto }}</p>
      </div>


        {% if user.is_superuser or request.user|has_group:"colaborador" %}
            <div class="container-fluid mt-3  d-flex justify-content-end  ">
                <a class="btn btn-success me-2   " href="{% url 'apps.posts:post_update' pk=posts.id %}">Modificar Post</a>
                <a class="btn btn-success " href="{% url 'apps.posts:post_delete' pk=posts.pk %}">Eliminar Post</a>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
 
  
  
  <div class="container-fluid justify-content-center" style="margin-bottom: 20px; margin-left: 10%;">
 
    {% include 'comentario/crear_comentario.html' %}
    
</div>

{% endblock %}
  
 
 
    








    

  





    
   
    
