{% load colaborador_tags %}

<div class="container-fluid" style="margin-bottom: 20px;">
   <h2>Comentarios</h2>
    
</div>
<div class="container-fluid justify-content-center" style="margin-bottom: 20px; margin-left: 0;">
    <div class="col-md-8">
      {% for comentario in comentarios %}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img src="{{ comentario.usuario.imagen.url }}" alt="Foto de usuario" class="rounded-circle me-3" style="width: 50px; height: 50px;">
              <div>
                <strong>{{ comentario.usuario }}</strong>
                <span class="text-muted">{{ comentario.fecha }}</span>
              </div>
            </div>
            <p class="card-text">{{ comentario.texto }}</p>
            {% if user.is_superuser or comentario.usuario == user %}
              <div class="d-flex justify-content-between">
                <a class="btn btn-success" href="{% url 'apps.posts:comentario_editar' pk=comentario.pk %}?next={{ request.path }}">Editar</a>
                <a class="btn btn-danger" href="{% url 'apps.posts:comentario_eliminar' pk=comentario.pk %}">Eliminar</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <li>No hay comentarios-Puedes ser el primero en comentar!</li>
      {% endfor %}
    </div>
  </div>
  
  

<a id="comentario"></a>
<div class="container" style="margin-bottom: 100px;">
<form method="POST" style="margin-bottom: 10px; margin-top: 100px">
    {% csrf_token %}
    {% if superuser is autenthicated %}
    <h2>Deja tu comentario</h2>
       <from method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Comentar">
       </form>
    {% else %}
        <h2>Debes iniciar sesión o registrarte para comentar</h2>
        <a id="boton_post" href="{% url 'apps.usuario:login' %}?=next={{ request.path }}">Iniciar sesión</a>
        <input type="hidden" name = 'next' value="{{ request.path }}">
    {% endif %}
</form>
</div>